<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043059090718-uct4llkt07r49b9rd9a5fsq52pbrt8ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043059090718-uct4llkt07r49b9rd9a5fsq52pbrt8ft</string>
	<key>API_KEY</key>
	<string>AIzaSyAdj6sGrzuzJT0xK6OuG_Il0z6j4mJyYuM</string>
	<key>GCM_SENDER_ID</key>
	<string>1043059090718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.bacon.app</string>
	<key>PROJECT_ID</key>
	<string>signin-demo-bf120</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-demo-bf120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043059090718:ios:cc1778371ad8b329a1550f</string>
</dict>
</plist>